.gitignore

############################
## GITIGNORE OSX STUFF 	  ##
############################

.DS_Store
.git

############################
## GITIGNORE NODEJS STUFF ##
############################

# Dependency directories
node_modules
npm-debug.log

############################
## MORE                	  ##
############################