.gitignore

############################
## GITIGNORE OS STUFF 	  ##
############################

.DS_Store
.AppleDouble
.LSOverride
._*
.git

############################
## GITIGNORE NODEJS STUFF ##
############################

# Dependency directories
node_modules
npm-debug.log

############################
## MORE                	  ##
############################






