/*******************
***** Landing ******
*******************/
:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(0, 60, 162, 0.7);
  --left-button-hover-color: rgba(31,113,255, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 900ms;
}
html, body {
  	padding:0;
  	margin:0;
  	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  	width: 100%;
  	height: 100%;
  	overflow-x: hidden;
	justify-content: center;
}
h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}
.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}
.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split.left {
  left:0;
  background: url("img/powerUp_logo.png") center center no-repeat;
  background-size: cover;
}
.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}
.split.right {
  right:0;
  background: url("img/server_stock.png") center center no-repeat;
  background-size: cover;
}
.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}
.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}
.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}
.hover-left .right:before {
  z-index: 2;
}
.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}
.hover-right .left:before {
  z-index: 2;
}
@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  .button {
    width: 12rem;
  }
}
@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}
/*******************
***** Tools   ******
*******************/
.goHome {
	display: block;
  	position: absolute;
  	left: 50%;
  	top: 76%;
  	height: 2.5rem;
  	padding-top: 1.3rem;
  	width: 15rem;
  	text-align: center;
  	color: #003ca2;
  	border: #2b2b2b solid 0.2rem;
  	font-size: 1rem;
  	font-weight: bold;
  	text-transform: uppercase;
  	text-decoration: none;
  	transform: translateX(-50%);
	background: #ffffff;
}
.goHome:hover {
	background-color: #ffffff;
  	border-color: #f3db51;
	color: #f3db51;
}
.container2 {
  position: relative;
  width: 100%;
  height: 1000px;
  background: #003ca2;
}
/*******************
****** Footer ******
*******************/
.footer {
	width: 100%;
	height: 250px;
}
/*******************
*** DragMap Sect ***
*******************/
canvas {
	border: solid white 3px;
	position: relative;
	align-content: center;
}
#map-holder {
	display: flex;
	align-content: center;
	margin-left: 4%;
	padding-top: 3%;
	padding: none;
	width: 920px;
}
/*******************
*** Form Sect ******
*******************/
.formSect {
	display: inline-block;
	position: absolute;
	width: 100%;
	margin-top: 50px;
	height: 250px;;
	border: 2px solid #f3db51;
	border-left: none;
	background: #2b2b2b;
}
.manualForm {
	width: 95%;
	margin-top: 2%;
	margin-left: 2.5%;
	height: 210px
}
.formStuff {
	color: white;
	border: 1px solid #003ca2;
	padding: 10px;
	padding-bottom: 20px;
}
.matchNum {
	display: inline-block;
	margin-left: 7.8%;
}
.teamNum {
	display: inline-block;
	margin-left: 2.7%;
}
.redSwitch {
	display: inline-block;
	margin-top: 18px;
}
.scale-count {
	display: inline-block;
	margin-left: 3%
}
.blueSwitch {
	display: inline-block;
	margin-left: 2.5%;
}
.levitate-count {
	display: inline-block;
	margin-top: 18px;
}
.force-count {
	display: inline-block;
	margin-left: 5.5%;
}
.boost-count {
	display: inline-block;
	margin-left: 2.5%;
}
/* END GAME */
.endPoints {
	display: block;
	height: 20px;
}
#endData {
	margin-top: 5px;
	color: #f3db51;
	display: inline-block;
}
.climbMech {
	display: inline-block;
	margin-top: 13px;
	margin-left: 5.5%;
}
.winLoss {
	display: inline-block;
	margin-left: 7.2%;
}
.comments {
	display: inline-block;
	margin-left: 6.2%;
}
#scoutComments {
	width: 300px;
}
/* AUTO GAME */
.autoPoints {
	display: block;
	height: 20px;
	margin-top: 10px;
}
#autoData {
	margin-top: 5px;
	color: #f3db51;
	display: inline-block;
}
.lineCross {
	margin-left: 5.5%;
	display: inline-block;
}
.preSwitch {
	margin-left: 5%;
	display: inline-block;
}
.preScale {
	margin-left: 5%;
	display: inline-block;
}
/* SUBMIT */
#manualScout {
	display: inline-block;
	margin-top: 35px; 
	float: right;
	color: #f3db51;
	background: rgba(31,113,255, 0.3);
	border: 1px solid #003ca2;
}
#manualScout:hover {
	background-color: #f3db51;
	color: #003ca2;
	border: 2px solid #003ca2;
}

/*******************
*** Servers Page ***
*******************/

table, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th {
	width: 130px;
}
td {
	align-content: center;
	text-align: center;
}
#matchSummary {
	background: white;
}
#loadMtch {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
#loadMtch li {
	padding: 5px 10px;
}
#loadMtch li:nth-child(odd) {
	background: #eee;
}
